<div class="p-4">
  <h2 class="text-2xl font-bold mb-4">{{ jobOffer.name }}</h2>
  <p class="mb-2">{{ jobOffer.description }}</p>
  <p class="mb-2"><span class="font-bold">Location:</span> {{ jobOffer.location }}</p>
  <p class="mb-2"><span class="font-bold">Salary:</span> {{ jobOffer.salary }}</p>
  <p class="mb-2"><span class="font-bold">Skills:</span> {{ jobOffer.skills }}</p>
  <p class="mb-2"><span class="font-bold">Company:</span> {{ jobOffer.company }}</p>
  <p class="mb-2"><span class="font-bold">Email:</span> {{ jobOffer.email }}</p>
  <p class="mb-2"><span class="font-bold">Phone Number:</span> {{ jobOffer.numtel }}</p>
  <p class="mb-2"><span class="font-bold">Expiration Date:</span> {{ jobOffer.expirationDate | date }}</p>
</div>