<div class="p-4">
  <h2 class="text-2xl font-bold mb-4"><i class="fas fa-briefcase mr-2"></i>{{ jobOffer.name }}</h2>
  <p class="mb-2"><i class="fas fa-align-left mr-2"></i>{{ jobOffer.description }}</p>
  <p class="mb-2"><span class="font-bold"><i class="fas fa-map-marker-alt mr-2"></i>Location:</span> {{ jobOffer.location }}</p>
  <p class="mb-2"><span class="font-bold"><i class="fas fa-dollar-sign mr-2"></i>Salary:</span> {{ jobOffer.salary }}</p>
  <p class="mb-2"><span class="font-bold"><i class="fas fa-tools mr-2"></i>Skills:</span> {{ jobOffer.skills }}</p>
  <p class="mb-2"><span class="font-bold"><i class="fas fa-building mr-2"></i>Company:</span> {{ jobOffer.company }}</p>
  <p class="mb-2"><span class="font-bold"><i class="fas fa-envelope mr-2"></i>Email:</span> {{ jobOffer.email }}</p>
  <p class="mb-2"><span class="font-bold"><i class="fas fa-phone-alt mr-2"></i>Phone Number:</span> {{ jobOffer.numtel }}</p>
  <p class="mb-2"><span class="font-bold"><i class="fas fa-calendar-alt mr-2"></i>Expiration Date:</span> {{ jobOffer.expirationDate | date }}</p>
</div>