<div class="bg-white h-48 rounded-lg p-3 flex flex-col justify-between space-y-2">
    <h1 class="font-bold text-4xl">
        {{jobOffer.name}}
        
    </h1>
    <p class="line-clamp-3">
        {{jobOffer.description}}
    </p>
    <hr class="border-t border-gray-300 my-2">
    <div class="flex gap-2 items-center">
        <p><span class="font-bold">Salary:</span> {{jobOffer.salary}}</p>
        <p>|</p>
        <p><span class="font-bold">Location:</span> {{jobOffer.location}}</p>
        <p>|</p>
        <p><i class="fa-solid fa-user"></i> 14</p>

        <button (click)="showDialog()"
            class="ml-auto shadow my-2 border-2 border-MainDark text-MainDark py-2 px-4 font-bold rounded-full transition hover:scale-105 duration-200 ease hover:shadow-lg hover:bg-MainDark hover:text-white">
            Details <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
</div>
<p-dialog header="Job Details" [(visible)]="visible" modal="true" [closable]="true" [resizable]="false">
    <app-exp-job-details [jobOfferId]="jobOffer.Id"></app-exp-job-details>
</p-dialog>