<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <!-- Logo -->
        <a href="#" class="flex items-center py-4">
          <img src="assets\suitcase.png" alt="Logo" class="h-8 w-auto mr-2">
        </a>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
          <a routerLink="/home" routerLinkActive="text-blue-500" class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">Home</a>
          <a routerLink="/jobs" routerLinkActive="text-blue-500" class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">Jobs</a>
          <a routerLink="/resume-checker" routerLinkActive="text-blue-500" class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">Resume Checker</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div class="hidden mobile-menu md:hidden">
    <ul class="">
      <li><a routerLink="/home" routerLinkActive="text-blue-500" class="block text-sm px-2 py-4 hover:bg-blue-500 hover:text-white transition duration-300">Home</a></li>
      <li><a routerLink="/jobs" routerLinkActive="text-blue-500" class="block text-sm px-2 py-4 hover:bg-blue-500 hover:text-white transition duration-300">Jobs</a></li>
      <li><a routerLink="/resume-checker" routerLinkActive="text-blue-500" class="block text-sm px-2 py-4 hover:bg-blue-500 hover:text-white transition duration-300">Resume Checker</a></li>
    </ul>
  </div>
</nav>
