<div class="w-8/12 bg-MainLight rounded-lg shadow-lg p-4">
    <div class="flex justify-between pb-3 mb-3 border-b-2 border-MainShade">
        <div>
            <h1 class="font-bold text-4xl text-MainDark">Job Title</h1>
        <h2 class="font-semibold text-MainShade text-xl">Company name</h2>
        </div>
        <img src="" alt="" class="bg-white shadow-md h-16 w-16 rounded-lg">
    </div>
    <div class="w-full flex justify-between">
        <div class="flex w-4/6 justify-between text-center">
            <div>
                <p class="font-bold text-MainShade">Location</p>
                <p class="text-MainDark">7al el wed</p>
            </div>
            <div>
                <p class="font-bold text-MainShade">Work Time</p>
                <p class="text-MainDark">full time</p>
            </div>
            <div>
                <p class="font-bold text-MainShade">Salary</p>
                <p class="text-MainDark">0,000 DT</p>
            </div>
        </div>
        <button class="bg-MainDark text-white py-2 px-4 font-semibold rounded-full shadow hover:scale-105 transition duration-100 ease-in-out hover:shadow-lg mr-4">More Details</button>
    </div>
</div>
