<div class="w-full bg-white rounded-lg shadow-lg p-4">
    <div class="flex justify-between pb-3 mb-3 border-b-2 border-whtie">
        <div>
            <h1 class="font-bold text-4xl text-MainDark">{{jobOffer.name}}</h1>
        <h2 class="font-semibold text-MainShade text-xl">Company name</h2>
        </div>
        <img src="" alt="" class="bg-white shadow-md h-16 w-16 rounded-lg">
    </div>
    <div class="w-full flex justify-between">
        <div class="flex w-4/6 justify-between text-center">
            <div>
                <p class="font-bold text-MainShade">Location</p>
                <p class="text-MainDark">{{jobOffer.location}}</p>
            </div>
            <div>
                <p class="font-bold text-MainShade">Work Time</p>
                <p class="text-MainDark">{{jobOffer.workTime}}</p>
            </div>
            <div>
                <p class="font-bold text-MainShade">Salary</p>
                <p class="text-MainDark">{{jobOffer.salary}} DT</p>
            </div>
        </div>
        <button (click)="goToJobDetails()" class="bg-MainDark text-white py-2 px-4 font-semibold rounded-full shadow hover:scale-105 transition duration-100 ease-in-out hover:shadow-lg mr-4">More Details</button>
    </div>
</div>
