<div class="job-details">
    <h1 class="job-detail-title">Project Name</h1>
    <h1 class="job-detail-title">Job Title</h1>
    <p class="job-details-text">Lorem ipsum dolor sit amet. Aut dolores quia qui cupiditate odio ut iure voluptatem quo enim iste et autem optio? Ea voluptates ipsum eum illo voluptates At facilis fuga nam deleniti adipisci eum odio enim. Et obcaecati impedit et inventore impedit ut repellendus porro At officiis harum aut earum autem.Ab temporibus sequi eos dolor accusantium quo consequuntur adipisci qui quam dolor? </p>
</div>
