<div class="flex flex-col items-center justify-center bg-MainLight mt-3 min-h-screen">
  <div class="w-3/4 rounded-lg shadow-xl p-8 bg-white">
    <form [formGroup]="jobOfferForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Job Title -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="name">
            Job Title
          </label>
          <input type="text" id="name" formControlName="name" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter job title">
        </div>
        <!-- Description -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="description">
            Description
          </label>
          <textarea id="description" formControlName="description" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter job description"></textarea>
        </div>
        <!-- Work Time -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="workTime">
            Work Time
          </label>
          <input type="text" id="workTime" formControlName="workTime" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter work time">
        </div>
        <!-- Location -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="location">
            Location
          </label>
          <input type="text" id="location" formControlName="location" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter location">
        </div>
        <!-- Salary -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="salary">
            Salary
          </label>
          <input type="number" id="salary" formControlName="salary" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter salary">
        </div>
        <!-- Skills -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="skills">
            Skills
          </label>
          <input type="text" id="skills" formControlName="skills" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter skills">
        </div>
        <!-- Company -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="company">
            Company
          </label>
          <input type="text" id="company" formControlName="company" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter company name">
        </div>
        <!-- Email -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="email">
            Email
          </label>
          <input type="email" id="email" formControlName="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter email">
        </div>
        <!-- Phone Number -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="numtel">
            Phone Number
          </label>
          <input type="text" id="numtel" formControlName="numtel" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter phone number">
        </div>
        <!-- Expiration Date -->
        <div class="mb-4">
          <label class="block text-MainShade text-2xl font-bold mb-2" for="expirationDate">
            Expiration Date
          </label>
          <input type="date" id="expirationDate" formControlName="expirationDate" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-MainShade focus:border-transparent" placeholder="Enter expiration date">
        </div>
      </div>
      <!-- Submit Button -->
      <div class="flex items-center justify-between mt-4">
        <button type="submit" class="bg-MainShade text-white px-4 py-2 rounded-lg hover:bg-MainDark transition duration-300" [disabled]="jobOfferForm.invalid">Create Job Offer</button>
        
      </div>
    </form>
  </div>
</div>

  <p-toast />